Source: fbterm-ucimf
Section: libs
Priority: extra
Maintainer: Chun-Yu Lee (Mat) <matlinuxer2@gmail.com>
Build-Depends: cdbs, debhelper (>= 7), autotools-dev
Standards-Version: 3.8.3
Homepage: http://ucimf.sourceforge.net

Package: fbterm-ucimf
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}
Description: The UCIMF IM server for FbTerm
 The is a IM server for FbTerm that implemented via UCIMF
