Source: openvanilla-modules
Priority: optional
Maintainer: Mat <MatLinuxer2@gmail.com>
Build-Depends: debhelper, autotools-dev 
Standards-Version: 3.6.1
Section: libs

Package: openvanilla-modules
Section: libs
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}
Description: <insert up to 60 chars description>
 <insert long description, indented with spaces>
