Source: ucimf
Priority: optional
Maintainer: Mat <MatLinuxer2@gmail.com>
Build-Depends: debhelper (>= 4.0.0), autotools-dev, libltdl3, libfreetype6-dev
Standards-Version: 3.6.1
Section: libs

Package: ucimf-dev
Section: libdev
Architecture: any
Depends: ucimf (= ${Source-Version})
Description: Unicode Console InputMethod Framework library, development files
 ucimf provide an C/C++ compatible API for console applications to adopt 
 external input method frameworks, such as IIIMF, OpenVanilla.

Package: ucimf
Section: libs
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}, libltdl3, libfreetype6
Description: Unicode Console InputMethod Framework library
 ucimf provide an C/C++ compatible API for console applications to adopt
 external input method frameworks, such as IIIMF, OpenVanilla.
